---
name: PR Labels

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

permissions:
  pull-requests: read

jobs:
  workflows:
    uses: ./.github/workflows/pr-labels-reusable.yaml
